<ng-container *ngIf = "gameState == undefined">
    <div class="container-fluid gradient">
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-4 text-center p-4">
                <button class="btn btn-secondary btn-lg" (click)="startGame()">
                    Start game
                </button>
            </div>
            <div class="col-4">
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf = "gameState !== undefined && gameState.end_of_game == false">
    <div class="site-header sticky-top bg-primary py-2">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-3 col">
                <div class="d-none d-md-block">
                    <p class="h3 text-secondary ms-4 mt-2">
                        Current player: {{ gameState.currentPlayer }}
                    </p>
                </div>
                <p class="h5 ms-4">
                    {{ lastActionMessage }}
                </p>
            </div>
            <div class="col-xl-4 col-lg-3 col-md-3 col">
                <p class="h4 text-secondary mt-2 ms-4">
                    Available hints: {{ gameState.availableHints }}
                </p>
                <p class="h4 text-secondary ms-4">
                    Lives: {{gameState.lifeTokens}}
                </p>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="row flex-nowrap gx-2 mt-2 mx-4">
                    <ng-container *ngFor = "let colorScore of gameState.currentScore; let i = index">
                        <ng-container *ngIf = "colorScore === 0">
                            <div class="col-xl col-2">
                                <img class="img-responsive" src="assets/images/placeholder.png">
                            </div>
                        </ng-container>
                        <ng-container *ngIf = "colorScore !== 0">
                            <div class="col-xl col-2">
                                <img class="img-responsive" src="assets/images/{{i + 1}}{{colorScore}}.png">
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<div class="container-fluid px-3">
    <ng-container *ngIf = "gameState !== undefined && gameState.end_of_game == false">
        <div class = "row gy-4 py-4">
            <ng-container *ngFor = "let player of roomInfo?.players">
                <ng-container *ngIf = "player !== playerName">
                    <div class="col-12 col-md-6 col-xxl-4 px-4">
                        <p class="h3">{{ player }}</p>
                        <div class="row flex-nowrap gx-2 py-2">
                            <ng-container *ngFor = "let card of getCards(player)">
                                <div class="col">
                                    <img class="img-responsive" src="assets/images/{{card.color}}{{card.rank}}.png">
                                </div>
                            </ng-container>
                        </div>
                        <ng-container *ngIf = "gameState?.currentPlayer === playerName">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle me-2"  data-bs-toggle="dropdown">hint rank</button>
                                    <div class="dropdown-menu center-block">
                                        <ng-container *ngFor = "let rankName of ranks">
                                            <button class="dropdown-item" (click)="hintCard(player, 'rank', rankName)">
                                                {{ rankName }}
                                            </button>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle me-2"  data-bs-toggle="dropdown">hint color</button>
                                        <div class="dropdown-menu">
                                            <div class="btn-group btn-group-lg">
                                                <ng-container *ngFor = "let colorName of getColorNames(); let i = index">
                                                    <button [className]="getClassName(colorName)" (click)="hintCard(player, 'color', i + 1)">
                                                        &#10003;
                                                    </button>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary my-1" data-bs-toggle="modal" [attr.data-bs-target]="'#'+player">
                            Show card knowledge
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" style="overflow: hidden;" id={{player}} data-bs-keyboard="false" style="overflow-y: scroll;">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body row" style="height: 75vh; overflow-x: scroll; background-color: #e8f597 !important;">
                                        <ng-container *ngFor = "let card of getCards(player)">
                                            <div class="col-xl-4 col-12">
                                                <div class="row flex-nowrap p-2">
                                                    <div class="col-xl-4 col-3">
                                                        <img class="img-responsive" src="assets/images/{{card.color}}{{card.rank}}.png">
                                                    </div>
                                                    <div class="col-xl-8 col-9">
                                                        <p class="h5">Color knowledge:</p>
                                                        <div class="d-flex flex-row">
                                                            <ng-container *ngFor = "let color of card.colorKnowledge">
                                                                <div class="d-flex flex-column">
                                                                    <button [className]="getLgClassName(getColorName(color))" class=>
                                                                        O
                                                                    </button>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                        <p class="h5">Rank knowledge:</p>
                                                        <div class="d-flex flex-row">
                                                            <ng-container *ngFor = "let rank of card.rankKnowledge">
                                                                <div class="d-flex flex-column">
                                                                    <button class="btn btn-primary me-1" style="pointer-events: none">
                                                                        {{ rank }}
                                                                    </button>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-container>
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <br>
        <p class="h2 text-secondary">Your cards</p>
        <div class="row g-4">
            <ng-container *ngFor = "let card of getCards(playerName); let i = index">
                <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                    <div class="rounded border border-secondary p-3">
                        <p class="h3">Card {{ i + 1 }}</p>
                        <div class="row g-2">
                            <div class="col-12 p-1">
                                <p class="h5">Possible ranks:</p>
                                <div class="d-flex flex-row">
                                    <ng-container *ngFor = "let rank of card.rankKnowledge">
                                        <div class="d-flex flex-column">
                                            <button class="btn btn-primary me-1" style="pointer-events: none">
                                                {{ rank }}
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-12 p-1">
                                <p class="h5">Possible colors:</p>
                                <div class="d-flex flex-row">
                                    <ng-container *ngFor = "let color of card.colorKnowledge">
                                        <div class="d-flex flex-column">
                                            <button [className]="getLgClassName(getColorName(color))">
                                                O
                                            </button>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-4 col-sm-12 d-flex align-items-center">
                                <ng-container *ngIf = "gameState?.currentPlayer === playerName">
                                    <button class="btn btn-primary me-3" (click)="playCard(card)">play</button>
                                    <button class="btn btn-primary me-3" (click)="discardCard(card)">discard</button>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div> 
    </ng-container>
</div>

<ng-container *ngIf = "gameState !== undefined && gameState.end_of_game == true">
    <div class="container-fluid gradient">
        <div class="row">
            <div class="col-4">
            </div>
                Game over. <br>
                Your score is {{ gameState.score }}
            <div class="col-4">
            </div>
        </div>
    </div>
</ng-container>