$bg-green: #37d684;
$body-bg: #1ce0dc;
$secondary: #e8f597;

$card-red: rgb(251, 0, 6);
$card-green: rgb(27, 167, 2);
$card-blue: rgb(17, 138, 227);
$card-yellow: rgb(247, 182, 8);
$card-white: rgb(255, 255, 255);

$primary: $bg-green;

@import '../node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";

.card-red{
    @extend .btn;
    color: $card-red;
    background-color: $card-red;
    &:hover{
        background-color: darken($card-red, 5%)
    }
}
.card-green{
    @extend .btn;
    color: $card-green;
    background-color: $card-green;
    &:hover{
        background-color: darken($card-green, 5%)
    }
}
.card-blue{
    @extend .btn;
    color: $card-blue;
    background-color: $card-blue;
    &:hover{
        background-color: darken($card-blue, 5%)
    }
}
.card-yellow{
    @extend .btn;
    color: $card-yellow;
    background-color: $card-yellow;
    &:hover{
        background-color: darken($card-yellow, 5%)
    }
}
.card-white{
    @extend .btn;
    color: $card-white;
    background-color: $card-white;
    &:hover{
        background-color: darken($card-white, 5%)
    }
}

.card-red-lg{
    @extend .btn;
    @extend .btn-lg;
    @extend .me-2;
    &:disabled{
        color: $card-red;
        background-color: $card-red;
    }
}
.card-green-lg{
    @extend .btn;
    @extend .btn-lg;
    @extend .me-2;
    &:disabled{
        color: $card-green;
        background-color: $card-green;
    }
}
.card-blue-lg{
    @extend .btn;
    @extend .btn-lg;
    @extend .me-2;
    &:disabled{
        color: $card-blue;
        background-color: $card-blue;
    }
}
.card-yellow-lg{
    @extend .btn;
    @extend .btn-lg;
    @extend .me-2;
    &:disabled{
        color: $card-yellow;
        background-color: $card-yellow;
    }
}
.card-white-lg{
    @extend .btn;
    @extend .btn-lg;
    @extend .me-2;
    &:disabled{
        color: $card-white;
        background-color: $card-white;
    }
}